*{
	margin: 0;
	padding: 0;
}
#game{
	width: 500px;
	height: 200px;
	border: 1px solid black;
	border-radius: 7px;
}
#character{
	width: 20px;
	height: 50px;
	background-color: red;
	top: 150px;
    position: relative;
    border-radius: 10px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
	0%{top: 150px;}
	30%{top: 100px;}
	70%{top: 100px;}
	100%{top: 150px;}
}
#block{
	width: 20px;
	height: 20px;
	background-color: blue;
	position: relative;
	top: 130px;
	left: 430px;
	border-radius: 10px;
	animation: block 1s infinite linear;
}
@keyframes block{
	0%{left: 450px;}
	100%{left: -40px;}
}
#hunter{
	width: 50px;
	height: 100px;
	position: relative;
	background-color: brown;
	top: 30px;
	left: 450px;
}